<mat-toolbar class="toolbar">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="Refresh" (click)="onRefresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
    <button routerLink="/health-data" routerLinkActive="active"  mat-menu-item>Health Data</button>
    <button routerLink="/recommendations" routerLinkActive="active"  mat-menu-item>Recommendations</button>
  </ng-template>
</mat-menu>
